html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.section-hero {
  background-color: #f0f4ec;
  padding: 13.4rem 0 9.6rem 0;
  position: relative;
  overflow: hidden;
}
.form-control {
  font-size: 20px !important;
  border-radius: 20px !important;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3.2rem;
  margin: 0 auto;
  align-items: center;
  gap: 0 9.6rem;
}
.hero h1,
p {
  font-family: "Merienda";
  color: #396c03;
}
.bac-img {
  position: absolute;
  left: 0;
  top: -50px;
  height: 300px;
}

.bac-img1 {
  position: absolute;
  right: 0;
  top: 100px;
  height: 300px;
}
.heading-primary {
  font-size: 5.2rem;
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 3.6rem;
}

.search {
  position: relative;
}
.search button {
  position: absolute;
  right: 8px;
  top: 0;
  color: #fff;
  background-color: #396c03;
  font-size: 20px !important;
  border-radius: 20px !important;
}

.login {
  border: none;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 50px;
gap: 5px;
color:#fff;
width: 100px;
height: 38px;

background: #396C03;
border-radius: 225px;

flex: none;
order: 0;
flex-grow: 0;
}
.search img {
  position: absolute;
  left: 15px !important;
  top: 5px;
  width: 30px;
  height: 30px;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img-box {
  grid-column: 2/3;
  grid-row: 1 / 3;
  background-image: url(./Img/—Pngtree—hand-painted\ noise\ green\ leaf\ element_4054582\ 1.png) /
    no-repeat;
}

.hero-img {
  width: 100%;
  -webkit-animation:spin 8s linear infinite;
  -moz-animation:spin 8s linear infinite;
  animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}


.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  background-color: #396c03;
  font-weight: 600;
  font-family: inherit;
  border: none;
  cursor: pointer;
  border-radius: 9px;

  padding: 1.6rem 3.2rem;
  text-decoration: none;

  transition: background-color 500ms;
}

.hero2 {
  /* max-width: 1300px; */
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3.2rem;
  margin: 0 auto;
  align-items: center;
  gap: 0 9.6rem;
  position: relative;
  overflow: hidden;
}
.hero2 h1 {
  color: #396c03;
  font-family: "Merienda";
}
.hero-img-box2 {
  position: relative;
  grid-column: 2/3;
  grid-row: 1 / 3;
  overflow: hidden;
  /* background-image: url(./Img/image\ 2.png); */
}

.section-hero2 {
  padding-top: 30px;
  padding-bottom: 60px;
  background: #fff9f2;
}
.delivered {
  width: 245px;
  height: 118px;
  position: absolute;
  background: #fff;
  right: 150px;
  top: 100px;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  backdrop-filter: blur(6px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8.86914px;
}

.delivered p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 130%;
  text-align: center;
  color: #838383;
}
.delivered h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  /* identical to box height, or 52px */

  /* Secondary */

  color: #ff8b00;
}

.header input[type="checkbox"],
.header .hamburger-lines {
  display: none;
}

/* .container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
} */

.header {
  box-shadow: 0px 5px 10px 0px #aaa;
  width: 100%;
  background-color: #f0f4ec;
  opacity: 0.1;
  color: #000;
  opacity: 0.85;
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}
.menu-items  li  a {
  font-size: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #3f3f3f;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  font-family: "Merienda";
  font-style: normal;
  font-weight: 700;
  font-size: 28.3446px;
  line-height: 160%;
  /* or 45px */

  color: #396c03;
}

.menu-items li {
  list-style: none;
  margin-left: 4.5rem;
  font-size: 1.3rem;
}
.Vector{
  height: 35px;
  padding: 0 10px;
  
}

.header a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.header a:hover {
  color: #117964;
}

.hero-img2{
  /* position: absolute; */
  /* left: 0; */
  width: 100%;
  margin-top: 50px;
}
.hero-img1 {
  bottom: 0%;
  right: 65%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
}
@-webkit-keyframes run {
  0% {
    left: -50%;
  }
  50% {
    left: 65%;
  }
  /* 100% {
    left: 0;    
  } */
}

/* *,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
} */

.header input[type="checkbox"],
.header .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.header{
    box-shadow: 0px 5px 10px 0px #aaa;
    /* position: fixed; */
    width: 100%;
    background-color: #f0f4ec;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.header-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.header a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.header a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .header{
        opacity: 0.95;
    }

    .header-container input[type="checkbox"],
    .header-container .hamburger-lines{
        display: block;
    }

    .header-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .header-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .header-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .header-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .header-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .header-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .header .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .header .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .header-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .header-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .header-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .header-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .header-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}
